---
layout: page
title: Projects
permalink: /projects/
---
<!-- 
We cannot use an API to update data in a static site without leaking the API key.
Therefore we must preload the data from Github, and use Github Action Workflows to update the data
on a schedule.
 -->
<link id="custom-stylesheet" rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
<div class="projects">
    <!-- Main project container -->
    Projects
    <!-- Example repo div -->
    <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 10px;padding: 10px;">
        {% for item in site.data.githubrepos.repos %}
            {% assign total_float = item.total | times: 1.0 %}
            {% assign main_lang = site.data.languages | where: "name", item.languages[0].language | first %}
            <div class="repo">
                <div class="repo-header">
                    <img class="repo-icon" src="{{ main_lang.icon | relative_url }}">
                    <a class="repo-title" href="{{ item.link }}">{{ item.name }}</a>
                </div>
                <div class="repo-desc">{{ item.description }}</div>
                <div class="language-bar">
                    {% for language in item.languages %}
                        {% assign lang = site.data.languages | where: "name", language.language | first %}
                        <div style="
                        width: {{ language.bytes | divided_by: total_float | round: 2 | times: 100 }}%;
                        background-color: {{ lang.color }};"
                        class = "language-bar-parent">
                            <div class="language-bar-child">
                                <div style="opacity: 1;">
                                    {{ lang.name }}: {{ language.bytes | divided_by: total_float | round: 2 | times: 100 }}%
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
            </div>
        {% endfor %}
    </div>
    <div class="project-update">
        Last Updated: {{ site.data.githubrepos.lastUpdated | date: "%B %d, %Y" }}
    </div>
</div>
